{% extends 'base.html.twig' %}

{% block title %}{{ app_name|capitalize }}{% endblock %}

{% block body %}
    {% set twig_file_path = 'index/index.html.twig' %}
    {% set was_born = '1988-10-24' %}
<section>
    <h1>{{ app_name|capitalize }}</h1>
    <h2>{{ twig_file_path }}</h2>
    <h3>{{ 'now'|date('Y, d F, D h:i:s') }}</h3>
    <h4>{{ data|date('Y, d F, D h:i:s') }}</h4>
    <h5>{{ data|format_datetime }}</h5>
    <h6>{{ dump() }}</h6>
</section>

{% endblock %}